* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ****** header ****** */
.container-header {
	margin: 20px;
}

#logo {
	width: 60px;
	vertical-align: middle;
}

#title {
	font-size: 40px;
	vertical-align: middle;
	margin: 10px;
}

/* ****** main ***** */

.container {
	background-color: rgb(246, 248, 249);
	height: 100vh;
	padding-top: 80px;
}

.container-80 {
	background-color: white;
	margin: 0 200px;
	border-radius: 5px;
	height: 600px;
}

#add-task {
	background-color: rgb(70, 173, 241);
	color: white;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 40px;
	height: 30px;
	width: 60px;
	border: none;
}

#add-section {
	background-color: white;
	color: lightgray;
	border-radius: 10px;
	margin-top: 20px;
	height: 30px;
	width: 80px;
	border: 1px solid grey;
}
